manifest.name = 'test'
manifest.description = 'test'
manifest.version = '0.1.0'
params {
    publish_dir_mode      = 'link'
    // Config options
    custom_config_version = 'master'
    custom_config_base    = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

    input_tsv = null 
    project_name = null 
    outdir = null 
    fasta = null
    fai = null 
    atlas_pmd_length = 50 
    atlas_recal_regions = null 
    atlas_recal_chr = 20 
    method = null
    alleles = null 
    glimpse_ref = null 
    glimpse_map = null 
    glimpse_chunks = null 
    max_raf = null 
    min_raf = null 
    gp = null
    mask_bed = null 
    run_glimpse = false 
    limits = null
    merge_bams = false
    get_1240k = false
    post_imputation_filters = false
    csv_1240k = null

}

// Load base config
includeConfig 'conf/base.config'

profiles {
    test {
        includeConfig 'conf/test.config'
    }
}

// Load nf-core custom profiles from different Institutions

includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

