process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input = 'test/data/input.tsv' 
    project_name = 'test' 
    outdir = 'test/results/' 
    fasta = "s3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
    fai = "s3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa.fai"
    chromosomes = 20..22
    atlas_pmd_length = 50 
    atlas_recal_regions = "${projectDir}/test/reference/88_mammals.epo_low_coverage.10M_GRCh37.masked_chr20-22.bed"
    atlas_recal_chr = 20 
    method = 'MLE'
    alleles = "${projectDir}/test/reference/1KGP.atlaschr20-22.alleles" 
    bcftools_alleles = "${projectDir}/test/reference/bcftoolschr20-22.alleles"
    ref_snps_only = "${projectDir}/test/reference/only_snps_chr20-22.vcf.gz"
    glimpse_ref = "${projectDir}/test/reference/glimpse_ref/"
    glimpse_map = "${projectDir}/test/reference/glimpse_map"
    glimpse_chunks = "${projectDir}/test/reference/chunks/"
    run_glimpse = true 
    // merge_bams = true
    get_1240k = true
    csv_1240k = "${projectDir}/test/reference/1240kSNPs/"
}

cleanup = false