process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input_tsv = 'test/data/input.tsv' 
    project_name = 'test' 
    outdir = 'test/results/' 
    fasta = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa'
    fai = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa.fai' 
    atlas_pmd_length = 50 
    atlas_recal_regions = '/mnt/archgen/pacific/Analysis_PNG_Watom_Kathrin_Jan20/IBD_ROH/imputation/88_mammals.epo_low_coverage.10M_GRCh37.masked.bed' 
    atlas_recal_chr = 20 
    method = 'MLE'
    alleles = '/mnt/archgen/pacific/Analysis_PNG_Watom_Kathrin_Jan20/IBD_ROH/imputation/1KGP.atlas.alleles' 
    bcftools_alleles = '/mnt/archgen/Americas_capture/analyses/Reference_imputation/1KGP_archgen/bcftools.alleles'
    ref_snps_only = '/mnt/archgen/Americas_capture/analyses/Reference_imputation/1KGP_archgen/only_snps.vcf.gz'
    glimpse_ref = '/mnt/archgen/Americas_capture/analyses/Reference_imputation/1KGP_HGDP_lifted/'
    glimpse_map = '/mnt/archgen/users/childebayeva/bin/shapeit4/maps/' 
    // glimpse_chunks = '/mnt/archgen/users/gnecchi/Jena/References/1KGP3/Chunks/' 
    glimpse_chunks = '/mnt/archgen/Americas_capture/analyses/Reference_imputation/1000Genomes_umich_noSingletons/Chunks/' 
    max_raf = 1 
    min_raf = 0 
    gp = 0
    mask_bed = '/mnt/archgen/users/ballesteros/beds_strict1000g_35mer_norepeated/' 
    run_glimpse = true 
    limits = '/mnt/archgen/users/ballesteros/programs/limitsDoC.py'
    merge_bams = false
    get_1240k = true
    csv_1240k = '/mnt/archgen/users/hringbauer/data/1240kSNPs/'
    post_imputation_filters = false
}
