profiles { 
  hs37d5_1KGP {
   cleanup = false
   params {

   config_profile_description = 'Imputation of low-coverage ancient genomes'
   config_profile_contact = "Judith Ballesteros Villascan"
   email = "judith_ballesteros@eva.mpg.de"

  // References
  fasta = "/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa"
  fai = "/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa.fai"

  // ATLAS parameters
  atlas_pmd_length = 50 
  atlas_recal_regions = "/mnt/archgen/pacific/Analysis_PNG_Watom_Kathrin_Jan20/IBD_ROH/imputation/88_mammals.epo_low_coverage.10M_GRCh37.masked.bed" 
  atlas_recal_chr = 20 
  method = 'MLE'
  alleles = '/mnt/archgen/Americas_capture/analyses/Reference_imputation/1KGP_archgen/1KGP_archgen.atlas.alleles' 

  // bcftools call parameters
  bcftools_alleles = '/mnt/archgen/Americas_capture/analyses/Reference_imputation/1KGP_archgen/bcftools.alleles'
  ref_snps_only = '/mnt/archgen/Americas_capture/analyses/Reference_imputation/1KGP_archgen/only_snps.vcf.gz'

  // GLIMPSE references
  run_glimpse = true 
  glimpse_ref = '/mnt/archgen/Americas_capture/analyses/Reference_imputation/1KGP_archgen/' 
  glimpse_map = '/mnt/archgen/users/childebayeva/bin/shapeit4/maps/' 
  glimpse_chunks = '/mnt/archgen/users/gnecchi/Jena/References/1KGP3/Chunks/'

  // 1240k
  get_1240k = true
  csv_1240k = '/mnt/archgen/users/hringbauer/data/1240kSNPs/'
  }
  process {

                                  maxRetries = 4
                                  withName:BCFTOOLS_MERGE {
                                  cpus = 10
                                  memory = { task.attempt == 3 ? 100.GB : task.attempt == 2 ? 48.GB : 32.GB }
                                        }
                                  withName:BCFTOOLS_CALL {
                                  cpus = 10
                                  memory = { task.attempt == 3 ? 30.GB : task.attempt == 2 ? 20.GB : 10.GB }
                                        }
          }
        }
      }